<app-home></app-home>
<div class="container">
    <div style="margin-top:10px;">
        <mat-card class="example-card">
            <mat-card-title style="text-align:center;">Customer Profile</mat-card-title>
            <mat-card-content style="text-align:center; margin-top:10px">
              <p>CardID : {{data.response[0]}}</p>
              <p>CustID : {{data.response[1]}}</p>
              <p>Title : {{data.response[2]}}</p>
              <p>Country : {{data.response[3]}}</p>
              <p>Address : {{data.response[4]}}</p>
              <p>PostalCode : {{data.response[5]}}</p>
              <p>City : {{data.response[6]}}</p>
              <p>Mail : {{data.response[7]}}</p>
              <p>BirthDate : {{data.response[8]}}</p>
              <p>ValidityDate : {{data.response[9]}}</p>
            </mat-card-content>
          </mat-card>

    </div>
    
</div>

